{% extends "v_base.twig" %}


{% block contenu %}
    <div class="row">
        <form action="{{ path }}index.php/commercant/validFormCreerCommercant" method="post">
            <fieldset>
                <legend>Création d'un nouveau commerçant</legend>

                <div class="form-group">
                <label>Nom du commerçant:
                    <input class="form-control" name="nom" type="text" value="{% if donnees is defined %}{{ donnees.nom }}{% endif %}" />
                    {% if erreurs.nom is defined %}
                    <span class="label label-danger">{{erreurs.nom}}</span>
                    {% endif %}
                </label>
                </div>

                <div class="form-group">
                    <label>Type de commerce:
                        <select name="type">
                            {% if types is not defined or donnes is not defined %}
                                <option value="">Veuillez sélectionner un type</option>
                            {% endif %}
                            {% if types is defined %}
                                {% for type in types %}
                                    <option value="{{ type.id_type }}"
                                            {% if donnees.id_type_commercant is defined and type.id_type == donnees.id_type_commercant %}selected{% endif %}>
                                        {{ type.noms }}
                                    </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        {% if erreurs.id_type_commercant is defined %}
                        <span class="label label-danger">{{erreurs.id_type_commercant}}</span>
                        {% endif %}
                    </label>
                </div>

                <div class="form-group">
                <label>Prix de la location:
                    <input class="form-control" name="tarif" type="text" value="{% if donnees is defined %}{{ donnees.prix_location  }}{% endif %}" />
                    {% if erreurs.prix_location is defined %}
                    <span class="label label-danger">{{erreurs.prix_location}}</span>
                    {% endif %}
                </label>
                </div>

                <div class="form-group">
                <label>Date d'installation:
                    <input class="form-control" name="date_installation" type="text" placeholder="dd/mm/aaaa" value="{% if donnees is defined %}{{ donnees.date_installation  }}{% endif %}" />
                    {% if erreurs.date_installation is defined %}
                        <span class="label label-danger">{{erreurs.date_installation}}</span>
                    {% endif %}
                </label></div>

                <input class="btn btn-success" type="submit" value="Créer" name="creationCommercant" />
            </fieldset>
        </form>
        <form  style="padding-top: 15px;" action="{{ url('commercant.liste') }}" method="post">
            <input class="btn btn-warning" type="submit" value="Annuler" name="annulation" />
        </form>
    </div>
{% endblock %}